{% extends 'main.html' %}
{% load staticfiles %}
{% block main_page%}
    <div class="uk-container">
<div class="uk-grid-collapse uk-animation-scale-up">
    <div class="uk-grid">
    <div>
        <h3>Адрес:</h3>
        <p>
           р-н Бахчисарайский <br>
           с. Трудолюбовка <br>
           ул. Мусы-Мамута, д. 7
        </p>
    </div>
    <div>
        <h3>Контакты:</h3>
        <div class="uk-grid uk-margin-small">
            <div class="uk-padding-remove ">
                <img src="{% static "images/icons/telephone.png" %}">
            </div>
            <div class="uk-padding-small">
                <p class="">+7(978)-072-81-94</p>
            </div>
        </div>
        <div class="uk-grid uk-margin-small">
            <div class="uk-padding-remove ">
                <img src="{% static "images/icons/gmail.png" %}">
            </div>
            <div class="uk-padding-small">
                <p class="">settarov.arif.i15@gmail.com</p>
            </div>
        </div>
        <div class="uk-grid uk-margin-small">
            <div class="uk-padding-remove">
                <img src="{% static "images/icons/mailru.png"%}">
            </div>
            <div class="uk-padding-small">
                <p class="uk-text-center">arif.settarov@mail.ru</p>
            </div>
        </div>
        <div class="uk-grid uk-margin-small">
            <div class="uk-padding-remove">
                <a href="http://vk.com/idarif_IT" class="uk-icon-button uk-inline-clip uk-transition-toggle" >
                    <img src="{% static "images/icons/vkBW.png" %}">
                    <img class="uk-transition-slide-top uk-position-cover" src="{% static "images/icons/vk.png" %}">
                </a>
                <a href="https://plus.google.com/u/0/110952215200474878885" class="uk-icon-button uk-inline-clip uk-transition-toggle" >
                    <img src="{% static "images/icons/googleBW.png" %}">
                    <img class="uk-transition-slide-top uk-position-cover" src="{% static "images/icons/google.png" %}">
                </a>
                <a href="skype:arifsettarov?call" class="uk-icon-button uk-inline-clip uk-transition-toggle" >
                    <img src="{% static "images/icons/skypeBW.png" %}">
                    <img class="uk-transition-slide-top uk-position-cover" src="{% static "images/icons/skype.png" %}">
                </a>
            </div>
        </div>
        </div>

    </div>
    <div class="uk-grid">
        <div>
            <h3>Карта:</h3>
            <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=6vVFPtofoshipDWdTdbTOI7btOXqJLyY&amp;width=450&amp;height=450&amp;
                    lang=ru_RU&amp;sourceType=constructor&amp;scroll=true">

            </script>

        </div>
        <div>
                    <input class="uk-input uk-margin-small" type="text" placeholder="ФИО">
                    <input class="uk-input uk-margin-small" type="email" placeholder="E-mail">
                    <textarea class="uk-textarea uk-margin-small" rows="5" placeholder="Сообщение"></textarea>
                    <input class="uk-button uk-margin" type="submit" value="Отправить" style="">

        </div>
    </div>
</div>
</div>
{% endblock %}