{% extends 'main.html' %}
{% block main_page %}
    <div class="uk-container">
    <h1>О себе:</h1>
        <label style="font-size: 18px;">
            Я Сеттаров Ариф Эскендерович, родился 25 сентября 1998г. в г.Бахчисарае.
            В возрасте 11 лет, по рекомендации школьного учителя информатики начал изучать программирование.
            Моим первым языком программирования стал Turbo Pascal. Спустя год был участником региональной олимипиады по
            программированию, где был на тот момент самым младшим участником, но тем не менее мне хватило навыков для того
            чтобы занять второе место. После, узнал про язык Алго, но изучал его всего на протяжении месяца по причине
            большой схожести с Pascal.
            В 2012 году начал изучение языка С++ по книге Б. Страуструпа. На протяжении долгого времени изучал только С++.
            В 2014 году стал победителем турнира знатоков инофрматики и награжден дипломом победителя.
            Проявил интерес к языку программирования Java, изучил все основы и сразу же начал заниматься разработкой
            Android приложений в среде Android Studio.
            В 2015 году поступил в Крымский Инженерно-Педагогический Университет. В процессе обучения узнал о ранее мне не
            известном языке программирования Python. Python сразу стал моим любимым языком программирования,
            в нём я нашел ключевые, важные для меня, качества, такие как простота синтаксиса, скорость разработки,
            кроссплатформенность и многофункциональность. Спустя месяц практики я познал все основы языка Python и решил
            связать свою карьеру именно с этим языком программирования. В процессе изучения научился работать с компьютерным зрением,
            с игровыми движками Python и возможностями серверной разработки на Python. Летом 2016 начал изучение Django.
            На сегодняшний день способен создавать полноценные десктопоные и веб приложения.
        </label>
        <h3>Некоторые из разработанных мной приложений представлены  на странице <a href="/projects/">Проекты</a></h3>

    </div>
{% endblock %}